.fontColor1 {
    color: #0087FD;
}

.fontColor0 {
    color: #000000;
}

.fontColor2 {
    color: #F6AB1E;
}

.fontColor3 {
    color: "#C0C0C0"
}

.fontColor4 {
    color: "#E72626"
}

.fontColor5 {
    color: "#02B853"
}
.colorf{
  color: #fff;
}
.bColor0 {
    background-color: #F6F6F6;
}

.bColor1 {
    background-color: #0087FD;
}

.bColor2 {
    background-color: #F6AB1E;
}

.bColor3 {
    background-color: #F6F8FA;
}