.fontColor1 {
    color: #FEB02D;
}

.fontColor0 {
    color: #000000;
}

.fontColor2 {
    color: #F6AB1E;
}

.fontColor3 {
    color: "#C0C0C0"
}

.fontColor4 {
    color: "#E72626"
}

.fontColor5 {
    color: "#02B853"
}
.colorf{
  color: #fff;
}
.bColor0 {
background: linear-gradient(168deg, #FFFFFF 0%, #F43C3E 100%);
}

.bColor1 {
 background: linear-gradient(168deg, #FFFFFF 0%, #2FD68C 100%);
}

.bColor2 {
  background: linear-gradient(168deg, #FFFFFF 0%, #5D7CD2 100%);
}

.bColor3 {
    background-color: #F6F8FA;
}
.f24{
	font-size: 24px;
	font-family: PingFangSC-Semibold, PingFang SC;
	font-weight: 600;
}
.f12{
	font-size: 12px;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: #999;
}
.f33{
	font-size: 12px;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: #333333;
}