 
	.bacAlipayw{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       background-color: #fff;
       min-height: 100vh;
   }
   .width1 {
       width: 362rpx;
       height:274rpx;
       background-color: aqua;
       border-radius: 10upx;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
   }
   .width1 image {
       width: 60upx;
       height: 60upx;
   }
   .margin-top-40{
       margin-top: 40upx;
   }
   .fg{
       font-weight: 600;
       font-size: 20px;
       margin-top: 20upx;
   }
   .bc1{
       background-color: #47A1F7;
   }
   .bc2{
       background-color: #FFCF25;
   }