.gameBoard {
  width: 100%;
  font-family: PingFangSC-Semibold, PingFang SC;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  font-weight: bold;
  //border: #F6AB1E solid 1px;
  margin-top: 10rpx;

  .title {
    padding-top: 20rpx;
    padding-left: 22rpx;
    font-size: 44rpx;
    line-height: 44rpx;
    color: #fff;
  }

  .main {
    .top {
      padding: 28rpx;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 16rpx;
      border-bottom: 2px solid #81D1F1;

      >div {
        font-size: 36rpx;
        display: flex;
        border-radius: 4px;
        align-items: center;
        justify-content: center;
        padding: 12rpx;
        background: #81D1F1;
        color: #CCE8F3;
        transition: 0.3s ease-in-out all;

        &.active {
          background: var(--color);
          color: #fff;
        }
      }
    }

    .content {
      padding: 40rpx 28rpx 32rpx;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 16rpx;

      >div {
        font-size: 36rpx;
        display: flex;
        border-radius: 4px;
        align-items: center;
        justify-content: center;
        padding: 12rpx;
        background: #fff;
        transition: 0.3s ease-in-out all;
        animation: none;
        box-shadow: inset 0px -2px 0px 0px rgba(75, 75, 75, 0.5);

        &.active {
          background: var(--color);
          color: #fff;
          animation: heartBeat 1s;
        }
      }
    }
  }
}

@keyframes heartBeat {
  0% {
    transform: scale(1);
  }

  14% {
    transform: scale(1.2);
  }

  28% {
    transform: scale(1);
  }

  42% {
    transform: scale(1.2);
  }

  70% {
    transform: scale(1);
  }
}